*.pth
*.ipynb
*.tar
__pycache__/*
*.csv
*.pt
*.txt
*.jsonl
*.json
*.DS_Store
*.xml
*.html
*.sh
*.pdf
*.arrow
*.safetensors
*.model
*.bin
*.yaml
*.log
*.wandb
wandb/*
*.pyc
selected_data/*
*.npy
# *.jpg
*.pkl
*.jinja